build/
history/
dataset/
test_data/
train_data/
audiofolder/

lightning_logs/
catboost_info/
MNIST/

__pycache__/

.env

model.joblib

input/
input.csv
test.csv
train.csv

output/
output.*
predictions.csv
results.csv
info.csv
file_answers.tsv